* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 3rem 2rem;
}

.footer .footer-links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer .footer-links div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer .footer-links div h1 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
}

.footer .footer-links div h1 span {
  color: crimson;
}

.footer .footer-links div p {
  font-size: 0.9rem;
  color: white;
  line-height: 1.4;
}

.footer .footer-links div a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer .footer-links div a:hover {
  color: crimson;
}

.footer .footer-links div .pages {
  color: crimson;
  width: fit-content; 
  padding-left: 0.5rem;
}

.footer .footer-links div .pages a.active {
  border-bottom: none;
  border-left: 3px solid crimson;
  padding-left: 0.5rem;
}

.footer .footer-links div .pages:hover {
  color: white;
}

.footer .footer-links div a i {
  font-size: 1.5rem;
  color: crimson;
}

.footer .copyright {
  text-align: center;
  margin-top: 3rem;
  font-size: 0.9rem;
  color: white;
}

/* ✅ Tablets */
@media (max-width: 1000px) {
  .footer .footer-links {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
  .footer .footer-links div h1 {
    font-size: 1.3rem;
  }
  .footer .footer-links div p {
    font-size: 0.9rem;
  }
}

/* ✅ Mobiles */
@media (max-width: 600px) {
  .footer .footer-links {
    grid-template-columns: 1fr; /* single column */
    text-align: center;
  }
  .footer .footer-links div {
    width: 100%;
    align-items: center;
  }
  .footer .footer-links div h1 {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  .footer .footer-links div p {
    font-size: 0.8rem;
  }
  .footer .copyright {
    font-size: 0.8rem;
    margin-top: 2rem;
  }
}
